.main-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: 30;
  color: white;
}

#start-button {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  width: 200px;
  font-size: 2em;
  cursor: pointer;
}

.main-menu img {

  position: absolute;
  left: 50%;
  top: 57%;
  transform: translateX(-50%);
}

.main-menu h2 {

  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
}

.game-over {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  z-index: 3;
  text-align: center;
  padding: 50px;
  color: white;
  background-color: black;
  height: 250px;
  width: 1000px;
  top: 200px;
  left: 150px;
  display: none;
  font-size: 3em;
  border-radius: 15px;
}

.controls-credits {
  position: fixed;
  text-align: center;
  z-index: 5;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  font-size: 1.5em;
  display: none;
}

.controls-credits img {
  width: 50px;
  vertical-align: middle;
}

.controls-wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}