body {
  background-color: rgb(13, 13, 14);
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: 30;
  color: white;
}

h1 {
  font-size: 4em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;


}

#start-button {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  width: 200px;
  font-size: 2em;
}

.main-menu img {

  position: absolute;
  left: 50%;
  top: 57%;
  transform: translateX(-50%);
}

.main-menu h2 {

  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
}


#game-board {
  border: solid;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.build-menu {
  width: 65px;
  height: 700px;
  position: absolute;
  top: 5px;
  right: 0px;
}

#money {
  color: white;
  font-size: 20px;
  margin: 20px 0;
}

.button {
  font-size: 1em;
  width: 80%;
  margin: 10px 0;
}

.button img {
  width: 35px
}

.game-over {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  z-index: 3;
  text-align: center;
  padding: 50px;
  color: white;
  background-color: black;
  height: 250px;
  width: 1000px;
  top: 200px;
  left: 150px;
  display: none;
  font-size: 3em;
}
